@@if(faqNo === "one"){
    <!-- Begin Main Content Area -->
    <main class="main-content">
        <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1920x373.jpg">
            <div class="@@customContainer h-100">
                <div class="row h-100">
                    <div class="col-lg-12">
                        <div class="breadcrumb-item">
                            <h2 class="breadcrumb-heading">Common Pages</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                                </li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-area @@sectionSpace">
            <div class="@@customContainer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="frequently-area">
                            <h2 class="heading mb-0">General Question</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Before you get started
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Compatibility with premium plugins
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Install theme demo contents
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Translation and localization services
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Live chat support
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-6 pt-md-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Before you get started
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Compatibility with premium plugins
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Install theme demo contents
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Translation and localization services
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Live chat support
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="frequently-area section-space-top-95">
                            <h2 class="heading mb-0">Payment & Gift card</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Changing the timezone
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Developer documentation
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Connnection social media channels
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Optimize theme speed & perfomance
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-6 pt-md-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Fully responsive
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Translation and localization services
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Live chat support
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">RTL Support now
                                                            <i class="icon-arrow-down"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content Area End Here -->
}